<!-- index.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>KISS! | KMD×Introduction×Stundents×Site</title>

  <!-- Bootstrap -->
  <link href="{{STATIC_URL}}css/bootstrap.min.css" rel="stylesheet">
  <link href="{{STATIC_URL}}css/base.css" rel="stylesheet">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  <![endif]-->
<script>

</script>
</head>
<body>
<div class="container"> 
  {% for post in Posts %}
  <div class="row">
    <div class="col-xs-2">
    </div>
    <div class="person">
      <div class="col-xs-8">
        <img class="icon img-circle img-responsive" src="{{STATIC_URL}}img/{{ post.img }}" alt="Responsive image" />
        <div class="text-center">
          <span class="roman">{{ post.roman }}</span>
          <h2 class="name">{{ post.name }}</h2>
          <a href="/search/project/{{ post.project }}/" class="project">{{ post.project }}</a>
        </div>
        <ul class="social">
          <li>
            <a class="button twitter" href="{{ post.twitter }}">Twitter</a>
          </li>
          <li>
            <a class="button facebook" href="{{ post.facebook }}">Facebook</a>
          </li>
        </ul>
        <h3>Introduce</h3>
        <p class="introduce">{{ post.comment }}</p>
        <h3>Background</h3>
        <p class="hash">{%for b in post.background %}
          <a href="/search/background/{{ b }}/">#{{ b }}</a>
        {% endfor %}</p>
        <h3>Skill</h3>
        <p class="hash">{% for s in post.skill %}
          <a href="/search/skill/{{ s }}/">#{{ s }}</a>
           {% endfor %}
        <h3>Interests</h3> 
        <p class="introduce">
        {% for i in post.interest %}
          <a href="/search/interest/{{ i }} }}/">#{{ i }}</a>
        {% endfor %}
        </p>
        <h3>Introduce From Everyone </h3>
        <p class="hash">{% for intro in post.introduce %}
          <a href="/search/introduce/{{ intro }}/">#{{ intro }}</a>
          {% endfor %}
        </p>
      </div>
    </div>
    <div class="col-xs-2">
    </div>
  </div>
  {% endfor %}
</div>
  <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
  <!-- Include all compiled plugins (below), or include individual files as needed -->
  <script src="js/bootstrap.min.js"></script>
</body>
</html>