body {
  background-color: #ECEEF1;/**/
  color: #363947;
}
.container{
  
}

img {
  margin:10%;
  width:80%;
  height:80%;
}
p.hash{
  font-size: 200%;
  color: #0E7AC4; /*FBA848;*/
}

ul {
  display: -webkit-box;
  display: -moz-box;
  width: 100%;
  list-style:none;
}

li {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
}
